@import url("mobile.css");
:root{
    --background-color: #fafafa;
    --text-color:#333 ; 
    --text-title-color:#111;
    --text-hover-color : #000 ; 
    --light-accent-color : #ccc ; 
    --accent-color :#abbaab; 
    --blue-color :#2980b9;
}
@keyframes first-about-me-animation{
    0%{ 
        transform: translateY(+10em);    
        opacity: 0;
    }
    100%{
       opacity: 1;
       transform: translateY(-1em);    
    }
    
}
@keyframes name {
    0%{
        opacity: 0;
        transform: translateY(+100em);
    }
    50% {
        transform: translateY(-1em);
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: translateY(0em);
    }

}
@keyframes slogan {
    0% {
        opacity: 0;
        transform: translateX(-100em);
    }
    60% {
        font-size: 0.8em ;
    }
    100%{
        
        opacity: 1;
        transform: translateY(-2em);
        font-size: 1em ;
    }

}

@keyframes menu {
    0% {
        opacity: 0;
        transform: translateY(+100em);
    }
    50% {
        opacity: 0.2;
        transform: translateY(+50em);
    }

    100% {
        opacity: 1;
        transform: translateY((0em));
    }

}

@keyframes ldIcon {
    0% {
        opacity: 0;
        transform: translateY(-100em);
    }
    50% {
        opacity: 0.2;
        transform: translateY(-50em);
    }

    100% {
        opacity: 1;
        transform: translateY((0em));
    }
}
@keyframes section {
    0%{
        opacity: 0;
        transform: translateY(+100em);
    }
    50% {
        transform: translateY(-2em);
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: translateY(0em);
    }

}
@keyframes skillSection {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    50%{
        transform: translateX(500px);
    }
    100%{
        opacity: 1;
        transform: translateX(+200px);
    }
}

* {
    font-family: "poppins","helvetica",arial;
}
html {
    background-color: var(--background-color);
}
body {
    color:var(--text-color);
    width:75%; 
    margin :5em auto ; 
    background-color: transparent;
}

a { 
    color : inherit;
    text-decoration: none;
}
section {
    
    border-radius: 1em;
    padding: 1em;
    background-color: transparent;
}
#watermark {
    position: fixed;
    margin: 0em auto ;
    font-size: 27em;
    font-weight: bolder;
    font-family: nunito ;
    opacity: 0.03;
    right: auto;
    left:auto;
    transform: rotate(-353deg);
    z-index: -1000;
}

#name {
    animation-name: name;
    font-weight: bold;
    font-family: "poppins" , helvetica , arial;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
    color: var(--text-title-color);
}

#slogan {
    animation-name:slogan; 
    animation-duration: 1.2s ;
    animation-timing-function: ease-in-out;
    font-weight: bold;
    animation-fill-mode: forwards;
}

#menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    color :gray ; 
    animation-name: menu ; 
    animation-duration: 0.8s;
    animation-timing-function:ease-out;
}

#menu a {
  font-family : "roboto mono",monospace ;
  font-size: 0.9em ;
  font-weight: light;
  margin-right: 3em;
}
#menu a:hover {
    color: var(--text-hover-color); 
}

#switch-container img {
    width: 2em;
    height: 2em;
    cursor: pointer;
    animation: ldIcon;
    animation-duration: 1.5s;
}
#about-me-section{
    width:75% ;
    line-height: 1.7em;
}
section h2 {
    color:var(--text-title-color);
}
#about-me-section a {
    display: inline-block;
    padding: 1em;
    box-shadow: 0px 0px 3px 1px var(--light-accent-color);
    margin: 1em 0em 0em 0em;
    opacity: 0.7;
    box-shadow: 10px 10px 0px 5px ,
    0px 0px 0px 5px  ;
    
}
#about-me-section a:hover {
    transition:all 0.4s ; 
    color:var(--background-color);
    background-color: var(--blue-color);
    box-shadow: 0px 0px 2px 0px ,
    3px 3px 0px 3px  ;
    opacity: 1;
}

.section:not(:first-child){
    display:none;
}

.section:first-child{
    animation-name: first-about-me-animation;
    animation-duration:1s;
    animation-timing-function:ease-in; 
    animation-fill-mode: forwards;
}
.visible {
    display:block; 
}
#header-name-ldm{
    display: flex;    
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#links-section > div {
    margin-left: 1em;
}
#links-section > div > * {
    min-width: max-content;
    opacity: 0.5;
    margin-right: 2em ;
    font-weight: 700;
    font-size: 1.5em;
}
#links-section > div > *:hover {
    opacity: 1;
}

article { 
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

section h4 {
        font-weight: bolder;
        color:var(--text-hover-color);
}
article > section > ul {

    list-style-type: none;
    font-size: 0.9em ;
    padding-left: 1em;
    margin: -1em 0em 1em 0em ;
}

#projects-wrapper {
    display: flex;
    margin-top:2em;
}

#projects-wrapper > div {
    background-color: var(--background-color);
    padding: 0 1em ;
    display: flex;
    align-items: stretch;
    margin-right: 5em ;
    box-shadow: 0px 0px 0px 5px var(--light-accent-color),
    15px 15px 0px 5px var(--light-accent-color) ;
}
#projects-wrapper > div:hover { 
    box-shadow: 0px 0px 0px 5px ,
    0px 0px 0px 5px  ;
    transition: all 0.4s;
}

#projects-wrapper > div > div {
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 2em;
    
}
#projects-wrapper > div h3 em {
    font-size: 0.7em;
    font-weight: 400;
    word-wrap: none;
    white-space: nowrap;
}
#projects-wrapper > div h3 a:hover{
    text-decoration: underline;
    opacity: 0.5;
    position: relative;
    top:-2px ; 
}
#projects-wrapper img{
    width: 200px;
    height: 300px;
    padding: 1em;
    margin: 1em 1em 1em 2em ;
    opacity: 0.8;  
    box-shadow: 2px 2px 0px 4px rgba(240,240,240,0.5),
    -2px -2px 0px 0px var(--light-accent-color);

}
.tags {
    display: flex ; 
    flex-direction: column; 
}
.tags > span {
    margin-right: 1em ;
    font-size: 0.7em ;
    opacity: 0.5;
    padding: 0.3em ;
    border-radius: 5px ;
    font-family: "roboto mono";
}
.tags > span:hover{
    opacity: 0.9;
}
#projects-wrapper > div > span {
    border:1px solid #ccc; 
    text-align: center ;
    width: 50%;
    margin: 1em auto;
}

#links-section > div{
    height: 1em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 50%;

}

#links-section > div > * {
    margin-top: 1em;
}

#links-section > div a i {
    color:var(--text-color); 
    margin-right: 0.5em;
    opacity: 1;
}

.active > * {

    color:azure;
    background-color: var(--blue-color);
    padding: 0.5em;
}

footer {
    position: absolute;
    bottom: 0px ;
}


#go-back-button{
    font-family: "roboto mono";
    outline : none; 
    background-color: var(--blue-color);
    position: relative;
    top:-2em;
    color:#fafafa;
    padding: 1em;
    border:none;
    display: none; 
    border-radius: 10px;
    font-size: 0.8em;
    text-align: center ;
} 
