@media only screen and (max-width: 600px) {
    #menu {
        display: flex;
        flex-direction: column !important;
        font-size: 1.5em ;
        white-space: pre;
    }
    body {
        position: relative;
        top:-4em;
    }


}
